<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Provider:</b>
  <%= Provider.find_by_id(@user.provider_id).name %>
</p>

<p>
  <b>Provider password:</b>
  <%= @user.provider_password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
